.calendar-container {
    max-width: 800px;
    margin: 1em auto;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.calendar-widget .day {
    padding: 1em 0;
}

.calendar-legend { 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}

.calendar-legend li {
    margin: 1em 2em 1em 1em;
}

.calendar-legend span { 
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 1em; 
    height: 1em;
    margin-right: 0.5em; 
}

.calendar-message {
    text-align: -webkit-center;
    font-size: small;
    margin-top: inherit;
    background-color: #8DC7C1;
    color: #2E716A;
    padding: 5px 0 5px 0;
    display: none;
}

.calendar-message.show {
    display: block;
}

.calendar-message span a {
    text-decoration: none !important;
    font-weight: 700;
    color: #27615B;
}